body {
    background-color: #181818;
    display: grid;
    grid-template-areas:
            'nav header aside'
            'nav main aside'
            'footer footer footer';
    grid-template-columns: 20% 60% 20%;
    font-family: fantasy;
}

header {
    grid-area: header;
    text-align: center;
}

main {
    grid-area: main;
    text-align: center;
}

nav {
    grid-area: nav;
    font-size: 50px;
}

aside {
    grid-area: aside;
    text-align: right;
}

footer {
    grid-area: footer;
}

div {
    color: white;
}

#title {
    font-size: 140px;
}

.description {
    font-size: 50px;
}

button {
    background-color: #383838;
    color: white;
    padding: 15px 32px;
    width: 320px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    border-color: white;
}