.game-board {
    border: 2px solid black;
    background-color: #383838;
}

.next {
    border: 2px solid black;
    background-color: #383838;
}

.split {
    display: flex;
}

.marginRight {
    margin-right: 200px;
}

.marginLeft {
    margin-left: 200px;
}